<p>
	<strong>Usuario:</strong>
	<%= tweet.user_name %>
</p>
<hr>
<p class="text-center">
	<strong>Description:</strong>
	<%= tweet.description %>
</p>
<p style="visibility:hidden">
	<strong>Softdelete:</strong>
	<%= tweet.softdelete %>
</p>
<hr>
