<% content_for :title, "Editing tweet" %>

<h1>Editing tweet</h1>

<%= render "form", tweet: @tweet %>

<br>

<div class="d-flex justify-content-evenly">
	<button class="btn bg-info">
  		<%= link_to "Show this tweet", @tweet %>
	</button>
	<button class="btn bg-info">
  		<%= link_to "Back to tweets", tweets_path %>
	</button>
</div>
