<% content_for :title, "New tweet" %>

<h1 class="text-center">Nuevo tweet</h1>

<%= render "form", tweet: @tweet %>

<br>

<div class="d-flex justify-content-center">
	<button class="btn bg-info">
		<%= link_to "Back to tweets", tweets_path %>
	</button>
</div>
