<% content_for :title, "New tweet" %>

<div class="container mt-4 ">
    <h1 class="text-center mb-4">Nuevo tweet</h1>

    <div class="card p-4 shadow-sm">
        <%= render "form", tweet: @tweet %>
    </div>

    <br>

    <div class="d-flex justify-content-center">
        <%= link_to "Back to tweets", tweets_path, class: "btn bg-info" %>
    </div>
</div>
